.data{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-size: large;
    letter-spacing: 2px;
}

.info{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: large;
    letter-spacing: 2px;
}

strong{
    color: rgb(239, 207, 146);    
}

/*Contacto y trabajo*/
h1{
    padding-top: 1em;
    font-size: xx-large;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    margin-bottom: 20px;
}

.cv{
    font-size: large;
}

.email{
    font-size: large;
}