footer{   
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 2px solid wheat;
    margin-top: auto;
}

p{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 0;
}