.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.cervezas, .cocteles, .vinos, .hamburguesas, .pizzas, .snacks, .carnes, .tablas{
    width: 200px;
    height: 260px;
    border: 5px solid wheat;
    margin: 5px;
}

