h2{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon{
    margin: 0;
    margin-top: 40px;
    width: 100px;
    height: 100px;
}